@use '@angular/material' as mat;

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    background-color: #414e63;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    color:aliceblue;
}

p {
    font-size: 1rem;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    color:aliceblue;
}